* {
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    background-color: #000;
    background: url(../img/bg.jpg) fixed;
    color: #FFF;
    height: 100vh;
}

#container header {
    position: fixed;
    width: 100%;
    background: url(../img/bg.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding: 20px 20px 10px;
}

header div:first-child {
    height: 60px;
    gap: 20px;
}

header div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo {
    max-height: 60px;
    max-width: 60px;
    border-radius: 30px;
}

.imgTitle {
    max-height: 100%;
    max-width: 100%;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    width: 100%;
    padding: 0;
    list-style: none;
    gap: 3px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-weight: 700;
    height: 30px;
    background-color: #009933;
    color: #000;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 130px;
}

#thegame, #images, #mechanics, #playdownload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    background-color: rgba(47, 79, 79, 0.4);
    border-radius: 10px;
    margin: 0 20px;
    padding: 10px;
    height: calc(100vh - 145px);
}

#playdownload {
    margin-bottom: 20px;
}